uv sync
source .venv/bin/activate

export PYTHONDONTWRITEBYTECODE=1

if [[ "$OSTYPE" == "darwin"* ]]; then
  export PATH=/Applications/SEGGER/JLink:/Applications/Nordic\ Semiconductor/bin:$PATH
fi
if [[ "$OSTYPE" == "linux-gnu"* ]]; then
  unset PS1
fi
